{{ $constrainItemsWidth := .Page.Site.Params.list.constrainItemsWidth | default false }}

<!-->      <div class="absolute bottom-0 right-0 translate-x-1/2 translate-y-1/2
                    w-0 h-0 border-t-[10px] border-r-[10px]
                    border-t-transparent border-r-gray-300">
      </div>
<-->
{{ $articleClasses := "flex flex-wrap md:flex-nowrap article pb-4" }}
{{ if .Site.Params.list.showCards }}
{{ $articleClasses = delimit (slice $articleClasses "border border-neutral-200 dark:border-neutral-700 border-2 rounded-md overflow-hidden") " " }}
{{ else }}
{{ $articleClasses = delimit (slice $articleClasses "") " " }}
{{ end }}

{{ $articleImageClasses := "w-full md:w-auto h-full thumbnail nozoom" }}
{{ if .Site.Params.list.showCards }}
{{ $articleImageClasses = delimit (slice $articleImageClasses "") " " }}
{{ else }}
{{ $articleImageClasses = delimit (slice $articleImageClasses "thumbnailshadow md:mr-7") " " }}
{{ end }}

{{ $disableImageOptimization := .Page.Site.Params.disableImageOptimization | default false }}

{{ $articleInnerClasses := "" }}
{{ if .Site.Params.list.showCards }}
{{ $articleInnerClasses = delimit (slice $articleInnerClasses "p-4") " " }}
{{ else }}
{{ $articleInnerClasses = delimit (slice $articleInnerClasses "min-w-full mt-3 md:mt-0") " " }}
{{ end }}

{{ if $constrainItemsWidth }}
{{ $articleClasses = delimit (slice $articleClasses "max-w-prose") " " }}
{{ end }}


{{ with .Params.externalUrl }}
<a class="{{ $articleClasses }}" href="{{ . }}" target="_blank" rel="external">
  {{ else }}
  <a class="{{ $articleClasses }}" href="{{ .RelPermalink }}">
    {{ end }}
    {{- with $.Params.images -}}
    {{- range first 6 . }}
    <meta property="og:image" content="{{ . | absURL }}" />{{ end -}}
    {{- else -}}
    {{- $images := $.Resources.ByType "image" -}}
    {{- $featured := $images.GetMatch "*feature*" -}}
    {{- if not $featured }}{{ $featured = $images.GetMatch "{*cover*,*thumbnail*}" }}{{ end -}}
    {{ if and .Params.featureimage (not $featured) }}
    {{- $url:= .Params.featureimage -}}
    {{ $featured = resources.GetRemote $url }}
    {{ end }}
    {{- if not $featured }}{{ with .Site.Params.defaultFeaturedImage }}{{ $featured = resources.Get . }}{{ end }}{{ end -}}
    {{ if .Params.hideFeatureImage }}{{ $featured = false }}{{ end }}
    {{- with $featured -}}
    {{ if or $disableImageOptimization (strings.HasSuffix $featured ".svg")}}
        {{ with . }}
        <div class="{{ $articleImageClasses }}" style="background-image:url({{ .RelPermalink }});"></div>
        {{ end }}
      {{ else }}
        {{ with .Resize "600x"  }}
        <div class="{{ $articleImageClasses }}" style="background-image:url({{ .RelPermalink }});"></div>
        {{ end }}
      {{ end }}
    {{- else -}}
    {{- with $.Site.Params.images }}
    <meta property="og:image" content="{{ index . 0 | absURL }}" />{{ end -}}
    {{- end -}}
    {{- end -}}


    <div class="{{ $articleInnerClasses }}">
    <div class="md:flex md:justify-between">
      <div class="items-center text-left text-xl font-semibold">
        {{ with .Params.externalUrl }}
        <div>
          <div
            class="font-medium text-xl text-neutral-800 decoration-primary-500 hover:underline hover:underline-offset-2 dark:text-neutral">
            {{ $.Title | emojify }}
            <span class="text-xs align-top cursor-default text-neutral-400 dark:text-neutral-500">
              <span class="rtl:hidden">&#8599;</span>
              <span class="ltr:hidden">&#8598;</span>
            </span>
          </div>
        </div>
        {{ else }}
        <div class="flex items-center font-medium text-xl text-neutral-800 dark:text-neutral"
          href="{{ .RelPermalink }}">
          <div class="decoration-primary-500 hover:underline hover:underline-offset-2">{{ .Title | emojify }}</div>
          <div class="ltr:ml-2 rtl:mr-2 mt-0.5">
          {{ if and .Draft .Site.Params.article.showDraftLabel }}
            {{ partial "badge.html" (i18n "article.draft" | emojify) }}
          {{ end }}
          </div>
        </div>
        <div class="font-light text-base text-neutral-800 dark:text-neutral-300">
          mdfile: 
          {{ with .Params }}
            {{ $.File }}
          {{ end }}
        </div>
        {{ end }}
        {{ if templates.Exists "partials/extend-article-link.html" }}
        {{ partial "extend-article-link.html" . }}
        {{ end }}
      </div>
      <div class="min-w-38 text-sm text-neutral-500 dark:text-neutral-400">
        {{ partial "article-meta/basic.html" . }}
      </div>
    </div>
      <div class="md:items-start md:flex md:justify-between">
        {{ if .Params.showSummary | default (.Site.Params.list.showSummary | default false) }}
        <div class="max-w-fit md:max-w-8/11 
                    pt-2 
                    line-clamp-2
                    prose dark:prose-invert">
            {{ .Summary | plainify }}
        </div>
        {{ end }}
        <div class="w-3.5 h-3.5 
                    mt-2 md:mt-auto md:mb-[0.23rem]
                    text-neutral-500">
          <svg t="1760006752321" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2331"><path d="M857.766234 511.488511L345.623017 0 297.174825 49.348412 759.846873 511.488511 297.174825 974.651588 345.623017 1022.977023z" fill="currentColor" p-id="2332"></path></svg>
        </div>
      </div>
    </div>
  </a>
